<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Project</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<h3>Add New Skill</h3>
<form method="POST" action="{{ url_for('skills.add_skill') }}">
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" id="category" name="category" required>
    </div>
    <div class="mb-3">
        <label for="topics" class="form-label">Topics (comma separated)</label>
        <input type="text" class="form-control" id="topics" name="topics" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Skill</button>
</form>
