body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.carousel {
    margin-top: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.card-subtitle {
    font-size: 0.9rem;
    color: #777;
}

.card-text {
    font-size: 1rem;
    margin-top: 10px;
}

.card-date {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #aaa;
    text-align: right;
}

/* Circular image styling */
.img-fluid.rounded-circle {
    border: 2px solid #ddd;
    padding: 5px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.read-more-link {
    color: #007bff; /* Bootstrap's default link color */
    text-decoration: none;
}

.read-more-link:hover {
    text-decoration: underline;
}
